{% extends 'base.html.twig' %}

{% block body %}
    <!--slider-->
    <div class="slider">
        <ul id="hero-gallery" class="cS-hidden">
            <li data-thumb="images/uploads/slider7.jpg">
                <img src="images/uploads/slider7.jpg" alt="" />
            </li>
            <li data-thumb="images/uploads/slider3.jpg">
                <img src="images/uploads/slider3.jpg" alt="" />
            </li>
            <li data-thumb="images/uploads/slider2.jpg">
                <img src="images/uploads/slider2.jpg" alt="" />
            </li>
        </ul>
    </div>
    <!--//slider-->

    <!--search-->
    <div class="main-search">
        <div class="wrap">
            <form id="main-search" method="post" action="{{ path('search') }}">
                <div class="row">
                    <!--column-->
                    <div class="column radios one-fourth">
                        <h5><span>01</span> What?</h5>
                        <div class="row">
                            <div class="f-item one-half">
                                <input type="radio" name="radio" id="hotel" value="form1" />
                                <label for="hotel">Hotel</label>
                            </div>
                            <div class="f-item one-half">
                                <input type="radio" name="radio" id="self_catering" value="form2" />
                                <label for="self_catering">Self Catering</label>
                            </div>
                            <div class="f-item one-half">
                                <input type="radio" name="radio" id="flight" value="form3" />
                                <label for="flight">Flight</label>
                            </div>
                            <div class="f-item one-half">
                                <input type="radio" name="radio" id="cruise" value="form4" />
                                <label for="cruise">Cruise</label>
                            </div>
                            <div class="f-item one-half">
                                <input type="radio" name="radio" id="flight_and_hotel" value="form5" />
                                <label for="flight_and_hotel">Flight &amp; Hotel</label>
                            </div>
                            <div class="f-item one-half">
                                <input type="radio" name="radio" id="rent_a_car" value="form6" />
                                <label for="rent_a_car">Rent a Car</label>
                            </div>
                        </div>
                    </div>
                    <!--//column-->

                    <div class="three-fourth">
                        <!--form hotel-->
                        <div class="form row" id="form1">
                            <!--column-->
                            <div class="column one-third">
                                <h5><span>02</span> Where?</h5>
                                <div class="row">
                                    <div class="f-item full-width">
                                        <label for="destination1">Your destination</label>
                                        <input type="text" placeholder="City, region, district or specific hotel" id="destination1" name="destination" />
                                    </div>
                                </div>
                            </div>
                            <!--//column-->

                            <!--column-->
                            <div class="column  one-third">
                                <h5><span>03</span> When?</h5>
                                <div class="row">
                                    <div class="f-item one-half datepicker">
                                        <label for="datepicker1">Check-in date</label>
                                        <div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker1" name="datepicker1" /></div>
                                    </div>
                                    <div class="f-item one-half datepicker">
                                        <label for="datepicker2">Check-out date</label>
                                        <div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker2" name="datepicker2" /></div>
                                    </div>
                                </div>
                            </div>
                            <!--//column-->

                            <!--column-->
                            <div class="column one-third">
                                <h5><span>04</span> Who?</h5>
                                <div class="row">
                                    <div class="f-item one-third spinner">
                                        <label for="spinner1">Rooms</label>
                                        <input type="text" placeholder="" id="spinner1" name="spinner1" />
                                    </div>
                                    <div class="f-item one-third spinner">
                                        <label for="spinner2">Adults</label>
                                        <input type="text" placeholder="" id="spinner2" name="spinner1" />
                                    </div>
                                    <div class="f-item one-third spinner">
                                        <label for="spinner3">Children</label>
                                        <input type="text" placeholder="" id="spinner3" name="spinner1" />
                                    </div>
                                </div>
                            </div>
                            <!--//column-->
                        </div>
                        <!--//form hotel-->
                    </div>
                    <input type="submit" value="Proceed to results" class="gradient-button search-submit" id="search-submit" />
                </div>
            </form>
        </div>
    </div>
    <!--//search-->

    <!--main-->
    <main class="main">
        <div class="wrap">
            <div class="row">
                <div class="full-width">

                    <!--latest offers-->
                    <header class="s-title">
                        <h2>Explore our latest offers</h2>
                    </header>

                    <div class="offers">
                        <div class="row">
                            <!--column-->
                            <article class="one-fourth">
                                <figure><a href="#" title=""><img src="images/uploads/img1.jpg" alt="" /></a></figure>
                                <div class="details">
                                    <h3>Winter beach escapes 30% off</h3>
                                    <a href="#" title="Explore our deals" class="gradient-button">Explore our deals</a>
                                </div>
                            </article>
                            <!--//column-->

                            <!--column-->
                            <article class="one-fourth">
                                <figure><a href="#" title=""><img src="images/uploads/cities/paris.jpg" alt="" /></a></figure>
                                <div class="details">
                                    <h3>Spend New Year‘s Eve in Paris</h3>
                                    <a href="#" title="More info" class="gradient-button">More info</a>
                                </div>
                            </article>
                            <!--//column-->

                            <!--column-->
                            <article class="one-fourth">
                                <figure><a href="#" title=""><img src="images/uploads/img2.jpg" alt="" /></a></figure>
                                <div class="details">
                                    <h3>Skiing weekends in the Alpes</h3>
                                    <a href="#" title="Explore our deals" class="gradient-button">Explore our deals</a>
                                </div>
                            </article>
                            <!--//column-->

                            <!--column-->
                            <article class="one-fourth">
                                <figure><a href="#" title=""><img src="images/uploads/thailand.jpg" alt="" /></a></figure>
                                <div class="details">
                                    <h3>Our weekly top offer: Thailand</h3>
                                    <a href="#" title="More info" class="gradient-button">More info</a>
                                </div>
                            </article>
                            <!--//column-->
                        </div>
                    </div>
                    <!--//latest offers-->

                    <header class="s-title">
                        <h2>Top destinations around the world</h2>
                    </header>

                    <!--top destinations-->
                    <div class="destinations">
                        <div class="row">
                            <!--column-->
                            {% for city in cities %}
                                <article class="one-fourth">
                                    <figure>
                                        <a href="{{ path('location', {'city': city.name}) }}" title=""><img src="{{ asset(city.photo) }}" alt="" /></a>
                                    </figure>
                                    <div class="details">
                                        <a href="{{ path('location', {'city': city.name}) }}" title="View all" class="gradient-button">View all</a>
                                        <a href="{{ path('location', {'city': city.name}) }}"><h4>{{ city.name }}</h4></a>
                                        <span class="count">1529 Hotels</span>
                                        <div class="ribbon">
                                            <div class="half hotel">
                                                <a href="hotels.html" title="View all">
                                                    <span class="small">from</span>
                                                    <span class="price">
                                                        {% if city.LowestRoomPrice %}
                                                            &#36; {{ city.LowestRoomPrice }}
                                                        {% endif %}
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="half flight">
                                                <a href="flights.html" title="View all">
                                                    <span class="small">from</span>
                                                    <span class="price">&#36; 150</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            {% endfor %}
                            <!--//column-->
                        </div>
                    </div>
                    <!--//top destinations-->

                    <!--info boxes-->
                    <div class="boxes">
                        <div class="row">
                            <!--column-->
                            <article class="one-fourth">
                                <div>
                                    <h4>Handpicked Hotels</h4>
                                    <p>All Book Your Travel Hotels fulfil strict selection criteria. Each hotel is chosen individually and inclusion cannot be bought. </p>
                                </div>
                            </article>
                            <!--//column-->

                            <!--column-->
                            <article class="one-fourth">
                                <div>
                                    <h4>Detailed Descriptions</h4>
                                    <p>To give you an accurate impression of the hotel, we endeavor to publish transparent, balanced and precise hotel descriptions. </p>
                                </div>
                            </article>
                            <!--//column-->

                            <!--column-->
                            <article class="one-fourth">
                                <div>
                                    <h4>Exclusive Knowledge</h4>
                                    <p>We’ve done our research. Our scouts are always busy finding out more about our hotels, the surroundings and activities on offer nearby.</p>
                                </div>
                            </article>
                            <!--//column-->

                            <!--column-->
                            <article class="one-fourth">
                                <div>
                                    <h4>Passionate Service</h4>
                                    <p>Book Your Travels’s team will cater to your special requests. We offer expert and passionate advice for finding the right hotel. </p>
                                </div>
                            </article>
                            <!--//column-->

                            <!--column-->
                            <article class="one-fourth">
                                <div>
                                    <h4>Best Price Guarantee</h4>
                                    <p>We offer the best hotels at the best prices. If you find the same room category on the same dates cheaper elsewhere, we will refund the difference. Guaranteed, and quickly. </p>
                                </div>
                            </article>
                            <!--//column-->

                            <!--column-->
                            <article class="one-fourth">
                                <div>
                                    <h4>Secure Booking</h4>
                                    <p>Book Your Travel reservation system is secure and your credit card and personal information is encrypted.We work to high standards and guarantee your privacy. </p>
                                </div>
                            </article>
                            <!--//column-->

                            <!--column-->
                            <article class="one-fourth">
                                <div>
                                    <h4>Benefits for Hoteliers</h4>
                                    <p>We provide a cost-effective model, a network of over 5000 partners and a personalised account management service to help you optimise your revenue.</p>
                                </div>
                            </article>
                            <!--//column-->

                            <!--column-->
                            <article class="one-fourth">
                                <div>
                                    <h4>Any Questions?</h4>
                                    <p>Call us on <em>1-555-555-555</em> for individual, tailored advice for your perfect stay or <a href="contact.html" title="Contact">send us a message</a> with your hotel booking query.</p>
                                </div>
                            </article>
                            <!--//column-->
                        </div>
                    </div>
                    <!--//info boxes-->
                </div>
            </div>
        </div>
    </main>
    <!--//main-->
{% endblock %}