{% extends 'base.html.twig' %}

{% block body %}
    <!--main-->
    <main class="main">
        <div class="wrap">

            <!--breadcrumbs-->
            <nav class="breadcrumbs">
                <!--crumbs-->
                <ul>
                    <li><a href="#" title="Home">Home</a></li>
                    <li><a href="#" title="Travel guides">Travel guides</a></li>
                    <li><a href="#" title="Travel guides">{{ country.name }}</a></li>
                    <li> {{ city.name }} </li>
                </ul>
                <!--//crumbs-->
            </nav>
            <!--//breadcrumbs-->

            <div class="row">
                <!--three-fourth content-->
                <section class="three-fourth">

                    <!--inner navigation-->
                    <nav class="inner-nav">
                        <ul>
                            <li><a href="#general_info" title="General information">General information</a></li>
                            <li><a href="#hotels" title="Hotels">Hotels</a></li>
                            <li><a href="#sports_and_nature" title="Sports and nature">Sports and nature</a></li>
                            <li><a href="#nightlife" title="Nightlife">Nightlife</a></li>
                            <li><a href="#culture" title="Culture and history">Culture and history</a></li>
                            <li><a href="#flights" title="Flights">Flights</a></li>
                            <li><a href="#flight_and_hotel" title="Flight + Hotel">Flight + Hotel</a></li>
                            <li><a href="#self_catering" title="Self-catering">Self-catering</a></li>
                            <li><a href="#cruise" title="Cruise">Cruise</a></li>
                            <li><a href="#car_rental" title="Car rental">Car rental</a></li>
                        </ul>
                    </nav>
                    <!--//inner navigation-->

                    <!--General information-->
                    <section id="general_info" class="tab-content">
                        <article>
                            <h1 style="padding:10px"> {{ city.name }} </h1>
                            <figure><img src="{{ asset(city.photo) }}" alt="Things to do - London general" /></figure>
                            <p><strong>{{ city.title }}</strong></p>
                            <p>{{ city.description }}</p>

                            <table>
                                <tr>
                                    <th>Country</th>
                                    <td>{{ country.name }}</td>
                                </tr>
                                <tr>
                                    <th>Area</th>
                                    <td>{{ city.area }} km2</td>
                                </tr>
                                <tr>
                                    <th>Population</th>
                                    <td>{{ city.population }}</td>
                                </tr>
                                <tr>
                                    <th>Average Temperature</th>
                                    <td>{{ city.averageTemperature }}</td>
                                </tr>
                                <tr>
                                    <th>Currency</th>
                                    <td>{{ country.currency }}</td>
                                </tr>
                            </table>
                        </article>
                    </section>
                    <!--//General information-->

                    <!--Sports and nature-->
                    <section id="sports_and_nature" class="tab-content">
                        <article>
                            <h2>Sports and nature</h2>
                            <figure><img src="#" alt="Things to do - London Sports and nature" /></figure>
                            <p><strong>London is one of the greenest capitals in the world, with plenty of green and open spaces. There are more than 3000 open spaces.</strong></p>
                            <p>Lorem ipsum dolor sit amet,  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Ut wisi enim ad minim veniam, quis nostrud exerci. </p>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                        </article>
                    </section>
                    <!--//Sports and nature-->

                    <!--Nightlife-->
                    <section id="nightlife" class="tab-content">
                        <article>
                            <h2>Nightlife</h2>
                            <figure><img src="#" alt="Things to do - London Nightlife" /></figure>
                            <p><strong>Looking for nightclubs in London? Take a look at our guide to London clubs. Browse for club ideas, regular club nights and one-off events. </strong></p>
                            <p>Lorem ipsum dolor sit amet,  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Ut wisi enim ad minim veniam, quis nostrud exerci. </p>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                        </article>
                    </section>
                    <!--//Nightlife-->

                    <!--Culture and history-->
                    <section id="culture" class="tab-content">
                        <article>
                            <h2>Culture and history</h2>
                            <figure><img src="#" alt="Things to do - London general" /></figure>
                            <p><strong>For a display of British pomp and ceremony, watch the Changing the Guard ceremony outside Buckingham Palace.</strong></p>
                            <p>Lorem ipsum dolor sit amet,  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Ut wisi enim ad minim veniam, quis nostrud exerci. </p>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                        </article>
                    </section>
                    <!--//Culture and history-->

                    <!--Hotels-->
                    <section id="hotels" class="tab-content">
                        <div class="deals row">
                            {% for hotel in hotels %}
                                <!--deal-->
                                <article class="full-width">
                                    <figure style="width: 33%">
                                        <a href="{{ path('hotel', {'name': hotel.name}) }}" title="">
                                            <img src="{{ asset(hotel.photo) }}" alt="" style="padding:20px 0 0 20px" />
                                        </a>
                                    </figure>
                                    <div class="details" style="width:67%;">
                                        <a href="{{ path('hotel', {'name': hotel.name}) }}">
                                            <h3>{{ hotel.name }}
                                                <span class="stars">
                                                    {% for i in 1..hotel.stars %}
                                                        <i class="material-icons">&#xE838;</i>
                                                    {% endfor %}
                                                </span>
                                            </h3>
                                        </a>
                                        <span class="address">{{ city.name }}  •  <a href="#">Show on map</a></span>
                                        <span class="rating"> 8 /10</span>
                                        <span class="price">Price per person from  <em>$ 500</em> </span>
                                        <div class="description">
                                            <p>{{ hotel.description }}
                                                <a href="{{ path('hotel', {'name': hotel.name}) }}">More info</a>
                                            </p>
                                        </div>
                                        <a href="{{ path('hotel', {'name': hotel.name}) }}" title="See Rooms" class="gradient-button">See Rooms</a>
                                    </div>
                                </article>
                                <!--//deal-->
                            {% endfor %}

                            <!--bottom navigation-->
                            <div class="bottom-nav full-width">
                                <!--back up button-->
                                <a href="#" class="scroll-to-top" title="Back up">Back up</a>
                                <!--//back up button-->

                                <!--pager-->
                                <div class="pager">
                                    <span><a href="#">First page</a></span>
                                    <span><a href="#">&lt;</a></span>
                                    <span class="current">1</span>
                                    <span><a href="#">2</a></span>
                                    <span><a href="#">3</a></span>
                                    <span><a href="#">4</a></span>
                                    <span><a href="#">5</a></span>
                                    <span><a href="#">&gt;</a></span>
                                    <span><a href="#">Last page</a></span>
                                </div>
                                <!--//pager-->
                            </div>
                            <!--//bottom navigation-->
                        </div>
                    </section>
                    <!--//Hotels-->

                    <!--Flights-->
                    <section id="flights" class="tab-content">
                        <div class="deals row">
                            <!--deal-->
                            <article class="full-width">
                                <figure style="width: 33%"><a href="#" title=""><img src="#" alt="" /></a></figure>
                                <div class="details" style="width: 67%">
                                    <h3>London Flights</h3>
                                    <span class="price">Price per person from<em>$ 50</em> </span>
                                    <div class="description">
                                        <p>Every Monday, Wednesday and Saturday <a href="#">More info</a></p>
                                    </div>
                                    <a href="hotel.html" title="Book now" class="gradient-button">Book now</a>
                                </div>
                            </article>
                            <!--//deal-->

                            <!--bottom navigation-->
                            <div class="bottom-nav full-width">
                                <!--back up button-->
                                <a href="#" class="scroll-to-top" title="Back up">Back up</a>
                                <!--//back up button-->

                                <!--pager-->
                                <div class="pager">
                                    <span><a href="#">First page</a></span>
                                    <span><a href="#">&lt;</a></span>
                                    <span class="current">1</span>
                                    <span><a href="#">2</a></span>
                                    <span><a href="#">3</a></span>
                                    <span><a href="#">4</a></span>
                                    <span><a href="#">5</a></span>
                                    <span><a href="#">&gt;</a></span>
                                    <span><a href="#">Last page</a></span>
                                </div>
                                <!--//pager-->
                            </div>
                            <!--//bottom navigation-->
                        </div>
                    </section>
                    <!--//Flights-->

                    <!--Flight+Hotel-->
                    <section id="flight_and_hotel" class="tab-content">
                        <div class="deals row">


                            <!--bottom navigation-->
                            <div class="bottom-nav full-width">
                                <!--back up button-->
                                <a href="#" class="scroll-to-top" title="Back up">Back up</a>
                                <!--//back up button-->

                                <!--pager-->
                                <div class="pager">
                                    <span><a href="#">First page</a></span>
                                    <span><a href="#">&lt;</a></span>
                                    <span class="current">1</span>
                                    <span><a href="#">2</a></span>
                                    <span><a href="#">3</a></span>
                                    <span><a href="#">4</a></span>
                                    <span><a href="#">5</a></span>
                                    <span><a href="#">&gt;</a></span>
                                    <span><a href="#">Last page</a></span>
                                </div>
                                <!--//pager-->
                            </div>
                            <!--//bottom navigation-->
                        </div>
                    </section>
                    <!--//Flight+Hotel-->

                    <!--Self Catering-->
                    <section id="self_catering" class="tab-content">
                        <div class="deals row">

                            <!--deal-->
                            <article class="full-width">
                                <figure style="width: 33%"><a href="#" title=""><img src="#" alt="" /></a></figure>
                                <div class="details" style="width: 67%">
                                    <h3>Prime Apartment
                                        <span class="stars">
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
										</span>
                                    </h3>
                                    <span class="address">London  •  <a href="#">Show on map</a></span>
                                    <span class="rating"> 8 /10</span>
                                    <span class="price">Price per room per night from  <em>$ 50</em> </span>
                                    <div class="description">
                                        <p>Overlooking the Aqueduct and Nature Park, hotel is situated 5 minutes’ walk from London’s Zoological Gardens and a metro station. <a href="hotel.html">More info</a></p>
                                    </div>
                                    <a href="#" title="Book now" class="gradient-button">Book now</a>
                                </div>
                            </article>
                            <!--//deal-->

                            <!--bottom navigation-->
                            <div class="bottom-nav full-width">
                                <!--back up button-->
                                <a href="#" class="scroll-to-top" title="Back up">Back up</a>
                                <!--//back up button-->

                                <!--pager-->
                                <div class="pager">
                                    <span><a href="#">First page</a></span>
                                    <span><a href="#">&lt;</a></span>
                                    <span class="current">1</span>
                                    <span><a href="#">2</a></span>
                                    <span><a href="#">3</a></span>
                                    <span><a href="#">4</a></span>
                                    <span><a href="#">5</a></span>
                                    <span><a href="#">&gt;</a></span>
                                    <span><a href="#">Last page</a></span>
                                </div>
                                <!--//pager-->
                            </div>
                            <!--//bottom navigation-->
                        </div>
                    </section>
                    <!--//Self Catering-->

                    <!--Cruise-->
                    <section id="cruise" class="tab-content">
                        <div class="deals row">
                            <!--deal-->
                            <article class="full-width">
                                <figure><a href="#" title=""><img src="#" alt="" /></a></figure>
                                <div class="details">
                                    <h3>Royal Caribbean
                                        <span class="stars">
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
										</span>
                                    </h3>
                                    <span class="address">London  •  <a href="#">Show on map</a></span>
                                    <span class="rating"> 8 /10</span>
                                    <span class="price">Price per person from  <em>$ 500</em> </span>
                                    <div class="description">
                                        <p>San Juan, Charlotte Amalie, Philipsburg, Castries, Basseterre, Ponta Delgada, Southampton <a href="hotel.html">More info</a></p>
                                    </div>
                                    <a href="hotel.html" title="Book now" class="gradient-button">Book now</a>
                                </div>
                            </article>
                            <!--//deal-->

                            <!--bottom navigation-->
                            <div class="bottom-nav full-width">
                                <!--back up button-->
                                <a href="#" class="scroll-to-top" title="Back up">Back up</a>
                                <!--//back up button-->

                                <!--pager-->
                                <div class="pager">
                                    <span><a href="#">First page</a></span>
                                    <span><a href="#">&lt;</a></span>
                                    <span class="current">1</span>
                                    <span><a href="#">2</a></span>
                                    <span><a href="#">3</a></span>
                                    <span><a href="#">4</a></span>
                                    <span><a href="#">5</a></span>
                                    <span><a href="#">&gt;</a></span>
                                    <span><a href="#">Last page</a></span>
                                </div>
                                <!--//pager-->
                            </div>
                            <!--//bottom navigation-->
                        </div>
                    </section>
                    <!--//Cruise-->

                    <!--Car rental-->
                    <section id="car_rental" class="tab-content">
                        <div class="deals row">
                            <!--deal-->
                            <article class="full-width">
                                <figure figure>
                                <div class="details">
                                    <h3>Mini</h3>
                                    <span class="price">Price per day from  <em>$ 50</em> </span>
                                    <div class="description">
                                        <p>Lorem ipsum dolor sit amet,  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. <a href="hotel.html">More info</a></p>
                                    </div>
                                    <a href="hotel.html" title="Book now" class="gradient-button">Book now</a>
                                </div>
                            </article>
                            <!--//deal-->

                            <!--bottom navigation-->
                            <div class="bottom-nav full-width">
                                <!--back up button-->
                                <a href="#" class="scroll-to-top" title="Back up">Back up</a>
                                <!--//back up button-->

                                <!--pager-->
                                <div class="pager">
                                    <span><a href="#">First page</a></span>
                                    <span><a href="#">&lt;</a></span>
                                    <span class="current">1</span>
                                    <span><a href="#">2</a></span>
                                    <span><a href="#">3</a></span>
                                    <span><a href="#">4</a></span>
                                    <span><a href="#">5</a></span>
                                    <span><a href="#">&gt;</a></span>
                                    <span><a href="#">Last page</a></span>
                                </div>
                                <!--//pager-->
                            </div>
                            <!--//bottom navigation-->
                        </div>
                    </section>
                    <!--//Car rental-->

                </section>
                <!--//three-fourth content-->

                <!--sidebar-->
                <aside class="one-fourth right-sidebar">

                    <!--Need Help Booking?-->
                    <article class="widget">
                        <h4>Need Help Booking?</h4>
                        <p>Call our customer services team on the number below to speak to one of our advisors who will help you with all of your holiday needs.</p>
                        <p class="number">1- 555 - 555 - 555</p>
                    </article>
                    <!--//Need Help Booking?-->

                    <!--Why Book with us?-->
                    <article class="widget">
                        <h4>Why Book with us?</h4>
                        <h5>Low rates</h5>
                        <p>Get the best rates, or get a refund.No booking fees. Save money!</p>
                        <h5>Largest Selection</h5>
                        <p>140,000+ hotels worldwide130+ airlinesOver 3 million guest reviews</p>
                        <h5>We’re Always Here</h5>
                        <p>Call or email us, anytimeGet 24-hour support before, during, and after your trip</p>
                    </article>
                    <!--//Why Book with us?-->

                    <!--Popular hotels in the area-->
                    <article class="widget">
                        <h4>Popular hotels in the area</h4>
                        <ul class="popular-hotels small-list">
                            <li>
                                <a href="#">
                                    <h3>Plaza Resort Hotel &amp; SPA
                                        <span class="stars">
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
										</span>
                                    </h3>
                                    <p>From <span class="price">$ 100 <small>/ per night</small></span></p>
                                    <span class="rating"> 8 /10</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <h3>Lorem Ipsum Inn
                                        <span class="stars">
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
										</span>
                                    </h3>
                                    <p>From <span class="price">$ 110 <small>/ per night</small></span></p>
                                    <span class="rating"> 7 /10</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <h3>Best Eastern London
                                        <span class="stars">
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
										</span>
                                    </h3>
                                    <p>From <span class="price">$ 125 <small>/ per night</small></span></p>
                                    <span class="rating"> 8 /10</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <h3>Plaza Resort Hotel &amp; SPA
                                        <span class="stars">
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
										</span>
                                    </h3>
                                    <p>From <span class="price">$ 100 <small>/ per night</small></span></p>
                                    <span class="rating"> 8 /10</span>
                                </a>
                            </li>
                        </ul>
                        <a href="#" title="Show all" class="show-all">Show all</a>
                    </article>
                    <!--//Popular hotels in the area-->

                    <!--Deal of the day-->
                    <article class="widget">
                        <h4>Deal of the day</h4>
                        <div class="deal-of-the-day">
                            <a href="hotel.html">
                                <figure style="padding: 10px 0px 0px 20px"><img src="#" alt=""  /></figure>
                                <h3>Plaza Resort Hotel &amp; SPA
                                    <span class="stars">
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
									</span>
                                </h3>
                                <p>From <span class="price">$ 100 <small>/ per night</small></span></p>
                                <span class="rating"> 8 /10</span>
                            </a>
                        </div>
                    </article>
                    <!--//Deal of the day-->
                </aside>
                <!--//sidebar-->
            </div>
            <!--//main content-->
        </div>
    </main>
    <!--//main-->
{% endblock %}